.preloader

	img(src='./images/preloader-image.png' alt='Поехали').preloader__image

	// Картинки для веса, чтобы дольше летела ракета

	//img(src='https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-001.jpg')
	//img(src='https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-002.jpg')
	//img(src='https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-003.jpg')
	//img(src='https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-004.jpg')
	//img(src='https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-005.jpg')
	//img(src='https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-006.jpg')
	//img(src='https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-007.jpg')
	//img(src='https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-008.jpg')
	//img(src='https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-009.jpg')
	//img(src='https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-010.jpg')
	//img(src='https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-011.jpg')
	//img(src='https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-012.jpg')
	//img(src='https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-013.jpg')
	//img(src='https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-014.jpg')
	//img(src='https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-015.jpg')
	//img(src='https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-016.jpg')
