.preloader

	img.preloader__image(src="./images/preloader-image.png" alt="Поехали")

	// Картинки для веса, чтобы дольше летела ракета

	img(src="https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-001.jpg" alt="")
	img(src="https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-002.jpg" alt="")
	img(src="https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-003.jpg" alt="")
	img(src="https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-004.jpg" alt="")
	img(src="https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-005.jpg" alt="")
	img(src="https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-006.jpg" alt="")
	img(src="https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-007.jpg" alt="")
	img(src="https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-008.jpg" alt="")
	img(src="https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-009.jpg" alt="")
	img(src="https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-010.jpg" alt="")
	img(src="https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-011.jpg" alt="")
	img(src="https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-012.jpg" alt="")
	img(src="https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-013.jpg" alt="")
	img(src="https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-014.jpg" alt="")
	img(src="https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-015.jpg" alt="")
	img(src="https://news.toyark.com/wp-content/uploads/sites/4/2016/06/QMX-Star-Trek-Spock-016.jpg" alt="")
