-
	const data = {
		header: {
			links: {
				logo: 'https://ninelines.agency/',
			},
			menu: [
				{
					url: '#resume',
					name: 'Резюме'
				},
				{
					url: '#about',
					name: 'О себе'
				},
				{
					url: '#skills',
					name: 'Навыки'
				}
			]
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'vk', 'tg'],
		},

		home: {
			title: 'гид&nbsp;по <br><span class="for-desktop">бережному</span><span class="for-devices">общению</span>',
			read: 'Читать',
		},

		experience: [
			{
				date: 'Июль 2019',
				position: 'Freelance Designer',
				companyName: 'Netherlands, Worldwide',
				companyLogo: '',
				companyDescription: '',
				experienceDescription: 'Available for a project or job in UX/UI, Visual and Product design.',
				experienceLinks: [
					{ linkText: 'Commercial tryouts' },
					{ linkText: 'Personal projects' },
				]
			},
			{
				date: 'Январь 2017 - Сентябрь 2018',
				position: 'Digital Designer',
				companyName: 'J Creative Solutions',
				companyLogo: 'jcs',
				companyDescription: 'Digital agency in Minsk, Belarus',
				experienceDescription: 'Created visuals for digital marketing channels such as social media, promo web and online ads. Developed visual language from scratch or following the branding guidelines. Designed presentations <br> for clients and indoor purposes.',
				experienceLinks: [
					{ linkText: 'Agency projects' }
				]
			},
			{
				date: 'Март 2014 - Февраль 2017',
				position: 'SEO Specialist → Lead SEO Specialist',
				companyName: 'OZ.by',
				companyLogo: 'oz',
				companyDescription: 'Online bookstore in Minsk, Belarus',
				experienceDescription: 'Improved website performance and user experience of the biggest online bookstore OZ in Belarus, being a part of the marketing team, <br> I interpreted Google Analytics data to IT, content and marketing colleagues. Advised on tech and content optimization strategy, automated processes, provided reports, increased organic traffic up to 150%.',
				experienceLinks: [
					{ linkText: 'Annual company report 2016' }
				]
			},
			{
				date: 'Август 2012 - Ноябрь 2013',
				position: 'Content Specialist',
				companyName: '21vek.by',
				companyLogo: '21vek',
				companyDescription: 'E-commerce store in Minsk, Belarus',
				experienceDescription: 'Added and modified the product information, prepared images and text for the website, developed categories filters, ensure all info is correct in the catalogue with the goal of improving online shopper experience.',
				experienceLinks: [{}]
			},
			{
				date: 'Август 2011 - Ноябрь 2014',
				position: 'Software Support Engineer',
				companyName: 'Integral',
				companyLogo: 'Integral',
				companyDescription: 'Microelectronics factory in Minsk, Belarus',
				experienceDescription: 'Supported retail accounting system LS Trade, troubleshoot technical problems.',
				experienceLinks: [{}]
			},
		],

		education: [
			{
				image: 'education-1',
				position: 'Interface Design: <br> Web & Mobile',
				studyPlace: [
					{ name: 'IT-Academy, 2020' }
				]
			},
			{
				image: 'education-2',
				position: 'Fundamentals <br> of Usability',
				studyPlace: [
					{ name: 'Skillshare, Oct 2018' }
				]
			},
			{
				image: 'education-3',
				position: 'CG Artist',
				studyPlace: [
					{ name: 'Polygon CG School, <br /> May-Sep 2017' }
				]
			},
			{
				image: 'education-4',
				position: 'Graphic Design',
				studyPlace: [
					{
						name: 'Belarusian State Academy of Arts, <br /> 2015 - 2017 Postgraduate Diploma'
					}
				]
			},
			{
				image: 'education-5',
				position: 'SEO Specialist',
				studyPlace: [
					{
						name: 'ARTOX Media, <br /> Jun-Aug 2012'
					}
				]
			},
			{
				image: 'education-6',
				position: 'Information Technology Software',
				studyPlace: [
					{
						name: 'Belarusian State University of Informatics and Radioelectronics, 2011 - 2015 <br /> Bachelor’s degree'
					},
					{
						name: 'Polotsk State Economic College, 2007 - 2011 Associate’s degree'
					}
				]
			}
		],

		skills: [
			{ title: 'Adobe Creative Suite', description: 'Photoshop, Illustrator, InDesign, XD, After Effects' },
			{ title: 'Prototyping', description: 'Sketch, Figma, InVision, Marvel, Principle, Balsamiq' },
			{ title: 'Additional', description: 'HTML, CSS, Google Analytics, Keynote, Miro' },
			{ title: 'Languages', description: 'Conversational English and Native Russian' },
		],

		modal: {
			close: 'Закрыть',
		},
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
